<%- include('../partials/header') %>

<h1>Meetings:</h1>
<table>
  <thead>
    <tr>
      <th id="deleteMeeting">Remove Meeting</th>
      <th id="editMeeting">Edit Meeting</th>
      <th id="moreInfo">More Info</th>
      <th id="agency">Agency</th>
      <th id="repsMet">Reps</th>
      <th id="stage">Stage</th>
      <th id="meetingDate">Date</th>
    </tr>
  </thead>
  <tbody>
    <% meetings.forEach(function(m) { %>
    <tr>
      <td>
        <form
          action="/meetings/<%= m.id %>?_method=DELETE"
          class="delete-form"
          method="POST"
        >
          <button type="submit">Remove</button>
        </form>
      </td>
      <td><a href="/meetings/<%=m._id%>/edit">Edit</a></td>
      <td><a href="/meetings/<%=m._id%>">Details</a></td>
      <td><%= m.agency %></td>
      <td><%= m.repsMet %></td>
      <td><%= m.stage %></td>
      <td><%= m.meetingDate%></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>
