<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Meeting Tracker</title>
  </head>

  <body>
    <nav>
      <div>
        <ul class="right">
          <li>
            <% if (user) { %>
            <a href="/logout"
              ><i class="material-icons left">trending_flat</i>Log Out</a
            >
            <% } else { %>
            <a href="/auth/google"
              ><i class="material-icons left"></i>Login with Google</a
            >
            <% } %>
          </li>
        </ul>
      </div>
    </nav>
    <a href="/meetings/new">Add Meeting</a>
    <h1>Meetings:</h1>
    <table>
      <thead>
        <tr>
          <th id="deleteMeeting">Remove Meeting</th>
          <th id="editMeeting">Edit Meeting</th>
          <th id="moreInfo">More Info</th>
          <th id="agency">Agency</th>
          <th id="repsMet">Reps</th>
          <th id="stage">Stage</th>
          <th id="meetingDate">Date</th>
        </tr>
      </thead>
      <tbody>
        <% meetings.forEach(function(m) { %>
        <tr>
          <td>
            <form
              action="/meetings/<%= m.id %>?_method=DELETE"
              class="delete-form"
              method="POST"
            >
              <button type="submit">Remove</button>
            </form>
          </td>
          <td><a href="/meetings/<%=m._id%>/edit">Edit</a></td>
          <td><a href="/meetings/<%=m._id%>">Details</a></td>
          <td><%= m.agency %></td>
          <td><%= m.repsMet %></td>
          <td><%= m.stage %></td>
          <td><%= m.meetingDate%></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
