<%- include('../partials/header') %>
<br>
<section id="show-page">
    <div><span id=two>Agency:</span>&nbsp;&nbsp;<%= meeting.agency %></div>
    <br>
    <div><span id=three>Reps Met:</span>&nbsp;&nbsp;<%= meeting.repsMet %></div>
    <br>
    <div><span id=four>Stage:</span>&nbsp;&nbsp;<%= meeting.stage %></div>
    <br>
    <div><span id=one>Date:</span>&nbsp;&nbsp;<%= meeting.meetingDate %></div>
</section>

<br />
<h2>Notes:</h2>

<% if (meeting.notes.length) { %>
<table>
    <thead>
        <tr>
            <th id="removeNote">Delete Note</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <% meeting.notes.forEach(function(n) { %>
        <tr>
            <td>
                <form class="delete-form" method="POST">
                    <button type="submit">Remove</button>
                </form>
            </td>
            <td><%= n.content %></td>
            
        </tr>
        <% }); %>
    </tbody>
</table>
<% } else { %>
<h4>No notes yet - get on it!</h5>
<% } %>
<br>
<h4>Add Note:</h4>
<form id="add-note-form" method="POST" action="/meetings/<%= meeting._id %>/notes" size="100">
    <textarea name="content"></textarea>
    <br>
    <br>
    <input type="submit" value="Submit" />
</form>

</main>
<%- include('../partials/footer') %>