<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
</head>

    <nav>
        <a href="/meetings">All Meetings</a>
        <a href="/meetings/new">Add Meeting</a>
    </nav>
<br>
<section id="show-page">
    <div><span id=two>Agency:</span>&nbsp;&nbsp;<%= meeting.agency %></div>
    <br>
    <div><span id=three>Reps Met:</span>&nbsp;&nbsp;<%= meeting.repsMet %></div>
    <br>
    <div><span id=four>Stage:</span>&nbsp;&nbsp;<%= meeting.stage %></div>
    <br>
    <div><span id=one>Date:</span>&nbsp;&nbsp;<%= meeting.meetingDate %></div>
</section>

<br />
<h2>Notes:</h2>

<% if (meeting.notes.length) { %>
<table>
    <thead>
        <tr>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <% meeting.notes.forEach(function(n) { %>
        <tr>
            <td><%= n.content %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<% } else { %>
<h4>No notes yet - get on it!</h5>
<% } %>
<form id="add-note-form" method="POST" action="/meetings/<%= meeting._id %>/notes">
    <textarea name="content"></textarea>
    <br>
    <br>
    <input type="submit" value="Add Note" />
</form>
<br>
</main>
</body>

</html>